@{
    ViewData["Title"] = "Admin";
}
<h3>Admin</h3>

<p><a asp-controller="Admin" asp-action="Competition">Add New Competition</a></p>
<p><a asp-controller="Admin" asp-action="AddStudents">Add Students</a></p>