@{
    ViewData["Title"] = "About";
}
@model Hackathon.Models.ChangePassword

<h3>Please update your password:</h3>

<div class="row">

<form asp-controller="Home" asp-action="UpdatePassword" method="POST" class="standard-form">
    <div class="row topbuffer">
        <label class="col-md-3" asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control col-md-3"></label>
        <span asp-validation-for="CurrentPassword" class="rederror col-md-3">@TempData["mismatch"]</span>
    </div>
    <div class="row topbuffer">
        <label class="col-md-3" asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control col-md-3"></label>
        <span asp-validation-for="NewPassword" class="rederror col-md-3"></span>
    </div>
    <div class="row topbuffer">
        <label class="col-md-3" asp-for="ConfirmNew"></label>
        <input asp-for="ConfirmNew" class="form-control col-md-3"></label>
        <span asp-validation-for="ConfirmNew" class="rederror col-md-3"></span>
    </div>
    <div class="col-md-4"></div>
    <input type="submit" value="Update" class="btn btn-warning topbuffer">
</form>

</div>